@charset "UTF-8";
/* Import de letra custom de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

/* Custom properties para medidas, tama帽os de fuente y colores */
:root {
  /* Escala modular para tama帽os de fuente */
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 2rem;
  --font-size-4: 3rem;
  --font-size-5: 6rem;
  /* Escala modular para espaciado */
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 3rem;
  /* Paleta de colores */
  --color-primary: #262626;
  --color-secondary: #595959;
  --color-background: #F2F2F2;
  --color-text: #262626;
  --color-text-light: var(--color-secondary);
  --color-text-white: var(--color-background);
  --color-border: var(--color-text);
  --color-accent: #D94E4E;
}


/* Reset b谩sico para quitar m谩rgenes y paddings predeterminados */
body,
h1,
h2,
h3,
p,
ul,
li,
a,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}


/* Estilos para el header y navegaci贸n */
.header {
  background-image: url("https://source.unsplash.com/1600x900/?technology");
  color: var(--color-text);
  text-align: left;
}

.nav {
  display: none;
  background-color: rgba(242, 242, 242, 0.342);
  backdrop-filter: blur(10px);
  list-style-type: none;
  height: calc(var(--spacing-4)*2);
  padding: var(--spacing-2);
}

.nav__item {
  display: inline;
  padding: var(--spacing-3);
}

.nav__link {
  color: var(--color-text-white);
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  transition: all 0.3s;

}

.nav__link:hover {
  color: var(--color-accent);
  font-weight: 500;
}


.nav-mobile {
  background-color: rgba(242, 242, 242, 0.342);
  backdrop-filter: blur(10px);
  height: 2.5rem;
  padding: var(--spacing-2);
  position: fixed;
  width: 100%;
  z-index: 100;
}


.nav-mobile svg {
  height: 2.5em;
  position: absolute;
  right: var(--spacing-1);
  transform: translateX(-100%);
}

/* Estilos para la secci贸n hero */
.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-text-white);

}

.hero__content {
  max-width: 800px;
  margin: 0 auto;
}

.hero__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-top: var(--font-size-4);
  /* Siguiente versi贸n,usar clamp para optimizar fuentes */
  font-size: var(--font-size-4);
  margin-bottom: var(--spacing-3);
  line-height: 1;

  span {
    color: var(--color-accent);
  }
}

/* Siguiente versi贸n, agregar alguna animaci贸n tipografica */

.hero__subtitle {
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-4);
  text-align: center;
}

/* Estilos para las secciones */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing-3);
}

.products {
  color: var(--color-text);
  padding: var(--spacing-4) 0;
}

.products__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(var(--font-size-3), 2.5vw, var(--font-size-5));
  margin-bottom: var(--spacing-4);
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  border-top: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);

}

.product {
  background-color: var(--color-background);
  padding: var(--spacing-3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);

}

.product:hover {
  background-color: var(--color-accent);
  color: var(--color-text-white);

  .product__description {
    color: var(--color-text-white);
  }
}

.product__image {
  max-width: 100%;
}

.product__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-2);
  text-align: center;
  margin-bottom: var(--spacing-1);
  /* Siguiente versi贸n,usar clamp para optimizar fuentes */
}

.product__description {
  font-size: var(--font-size-1);
  color: var(--color-text-light);
  text-align: center;
}

/* Estilos para la secci贸n de caracter铆sticas */

.features {
  background-color: var(--color-background);
  padding: var(--spacing-4) 0;
}

.features__title-big {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-wrap: pretty;
  font-size: clamp(var(--font-size-3), 2.5vw, var(--font-size-5));
  margin-bottom: var(--spacing-4);
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}

.features__title-small {
  display: none;
  /* Los estilos de la fuente, 驴aqu铆 o en la media query? */

}

.features-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7);
  /*Solo mobile*/
  gap: var(--spacing-3);
  /*Solo mobile*/
}

.feature {
  background-color: var(--color-background);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  text-align: center;

  grid-column: 1;
  display: flex;
  flex-direction: column;

  /*solo mobile*/
  border: 1px solid var(--color-primary);
  /*Solo mobile*/
}


.feature__image {
   max-width: 100%;
  height: 100%;
  margin-bottom: var(--spacing-2);
 
  /*Solo mobile*/
  border-bottom: 1px solid var(--color-primary);
  /*Solo mobile*/
  box-sizing: border-box;
}

.feature__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: var(--font-size-2);

  margin-bottom: var(--spacing-1);
  padding: var(--spacing-3);
}

.feature__description {
  font-size: var(--font-size-1);
  color: var(--color-text-light);
  padding: var(--spacing-3);
}

/* Estilos para la secci贸n de precios */
.pricing {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: var(--spacing-4) 0;
}

.pricing__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
   /* Siguiente versi贸n, considerar crear clases para titulos y asi evitar reescribir los estilos tipograficos en cada secci贸n*/
  text-transform: uppercase;
  font-size: clamp(var(--font-size-3), 2.5vw, var(--font-size-5));

  margin-bottom: var(--spacing-4);
}

.price-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.price-card {
  background-color: var(--color-secondary);
  padding: var(--spacing-4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  max-width: 1200px;
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 50%;
}

.price-card:hover {
  transform: scale(110%);
  opacity: 100%;
}

.price-card__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: var(--color-text-white);
  text-transform: uppercase;
  font-size: var(--font-size-3);
  margin-left: var(--spacing-3);
}

.price-card__description {
  grid-row: 2;
  font-size: var(--font-size-2);
  color: var(--color-text-white);
  margin: var(--spacing-3);
  text-align: center;
}

.price {
  font-size: var(--font-size-2);
  color: var(--color-text-white);
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}

.cta-button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-2);
  border-radius: var(--spacing-1);
  text-decoration: none;
  transition: background-color 0.3s;
  max-height: calc(var(--font-size-2)*3);
}

.cta-button:hover {
  background-color: var(--color-accent);
}

/* Estilos para la secci贸n de testimonios */
.testimonials {
  height: 60vh;
  background-position: top;
  background-image: url("img/smoke.webp");  /* Siguiente versi贸n,usar un svg y animar para darle m谩s vida a la secci贸n */
  background-size: cover;
  color: var(--color-text);
  padding: var(--spacing-4) 0;
}

.testimonials__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(var(--font-size-3), 2.5vw, var(--font-size-5));
  margin-bottom: var(--spacing-4);
  text-align: center;
}

.testimonials-carousel {
  overflow: hidden;
  position: relative;
}

.testimonials-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: var(--spacing-2) 0;
}

.testimonial {
  background-color: #f2f2f278;
  padding: var(--spacing-3);
  text-align: center;
  margin-right: var(--spacing-3);
  flex: 0 0 auto;
  max-width: 300px;
  transition: transform 0.3s;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto var(--spacing-2);
  display: block;
}

.testimonial__text {
  font-size: var(--font-size-2);
  margin-bottom: var(--spacing-2);
}

.testimonial__author {
  font-size: var(--font-size-1);
  color: var(--color-text-light);
}

/* Estilos para la secci贸n de contacto */

.contact {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  padding: var(--spacing-4) 0;

}

.contact__title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: clamp(var(--font-size-3), 2.5vw, var(--font-size-5));
  margin-bottom: var(--spacing-4);
  text-align: center;
}

.contact__description {
  font-size: var(--font-size-2);
  color: var(--color-accent);
  margin-bottom: var(--spacing-4);
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form__label {
  font-size: var(--font-size-2);
  display: block;
  margin-bottom: var(--spacing-1);
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  padding: var(--spacing-2);
  margin-bottom: var(--spacing-3);
  border: 1px solid var(--color-border);
  background-color: rgba(89, 89, 89, 0.50);

}

.contact-form__textarea {
  resize: vertical;
}

button[type=submit] {
  background-color: var(--color-secondary);
  color: var(--color-text-white);
  border: none;
  padding: var(--spacing-2) var(--spacing-4);
  font-size: var(--font-size-2);
  border-radius: var(--spacing-1);
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type=submit]:hover {
  background-color: var(--color-accent);
}

/* Footer */
.footer {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  text-align: center;
  text-wrap: pretty;
  padding-bottom: var(--spacing-2);
  padding-top: var(--spacing-2);
  width: 100%;
}

.footer__link {
  color: var(--color-text-white);
  text-decoration: none;
  margin: 0 10px;
}

.footer__link:hover {
  text-decoration: underline;
}



/* Media Queries */
@media (min-width: 769px) {
  .container {
    padding: var(--spacing-3);
  }

  .hero {
    height: auto;
    padding: var(--spacing-5) var(--spacing-2);
  }

  .hero__title {
    font-size: var(--font-size-5);
  }

  .hero__subtitle {
    font-size: var(--font-size-3);
  }

  .product,
  .feature {
    grid-template-columns: 1fr;
  }

}

@media (min-width: 1024px) {
  /* Estilos para dispositivos de escritorio */

  .nav-mobile {
    display: none;
  }

  .nav {
    display: block;
  }

  .features__title-small {
    display: block;
    font-family: "Alegreya Sans", sans-serif;
    color: var(--color-secondary);
  }

  .features-container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 20%);
    gap: 0;

  }

  .feature {
    grid-column: 2;
    flex-direction: row;
    border: none;

  }

  .products__title {
    text-align: left;
  }

  .products-grid {

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


  }

  .features__title-big {
    margin-right: var(--spacing-4);
    text-align: left;
  }

  /* Estilos para asegurar que los bordes no colisionen y alternar las imag茅nes */

  .features-container .feature:nth-child(2) .feature__content {
    border-top: 1px solid var(--color-primary);
  }

  .features-container .feature:last-child .feature__content {
    border-bottom: 1px solid var(--color-primary);
  }

  .features-container .feature:nth-child(even) {
    flex-direction: row-reverse;
    border-left: 1px solid var(--color-primary);
  }

  .features-container .feature:nth-child(odd) {
    border-right: 1px solid var(--color-primary);
  }

  .feature__image {
    max-width: 50%;

    border: 1px solid var(--color-primary);

  }


  .feature__title {
    font-size: var(--font-size-3);
  }



  .pricing__title {
    text-align: left;

  }



  .price-card {
    display: grid;
    grid-template-columns: 4fr 1fr;

  }



  .price-card__title {
    text-align: left;

  }

  .price-card__description {
    text-align: left;
  }

  #contactSection .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

  }


  .contact__title {
    text-align: left
  }

  .contact__description {
    text-align: left;
  }


  .footer {

    text-align: left;
    padding: var(--spacing-3);

  }




}